body {
	font-family: 'Helvetica Black', Helvetica, Arial, sans-serif;
}

input {
	box-sizing: border-box;
	font-family: 'Helvetica Black', Helvetica, Arial, sans-serif;
	padding:10px;
	border: 1px solid red;
	border-radius: 3px;
	margin:10px 0;
	width: 400px;
	height: 70px;
	font-size: 2em;
}

svg {
	transform-origin: top left;
}

.styled-button {
	border: 2px solid black;
	border-radius: 3px;
	color: red;
	font-size: 1.5em;
	cursor: pointer;
	text-align: center;
	padding: 7px;
	width: 162px;
	display: inline;
}

@media only screen and (max-width: 480px) {
    input {
		font-size: 1.25em;
        max-width: 100%;
    }
	svg {
		transform: scale(0.25);
	}
}

@media only screen and (min-width: 481px) {
    input {
		font-size: 1.5em;
        max-width: 100%;
    }
	svg {
		transform: scale(0.5);
	}
}

@media only screen and (min-width: 769px) {
    input {
		font-size: 1.75em;
        max-width: 100%;
    }
	svg {
		transform: scale(0.75);
	}
}
